.loader-bg {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

/* .loader {
  border: 0 solid transparent;
  width: 150px;
  height: 150px; 
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after {
  content: '';
  border: 1rem solid var(--blue-green);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loading-text {
  font-size: 24px;
  color: var(--blue-green);
  font-weight: bold;
  font-family: var(--serif);
  text-align: center;
  width: 100%;
  height: 150px; 
  position: absolute;
  top: calc(50vh + 75px);
  left: 28px;
  margin: auto;
  animation: loading-text 2s ease-in;
}

@keyframes loading-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */