@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --white: #FEFCFB;
  --linen: #EBE3DD;
  --brown: #a28772;
  --yellow: #f8e16c;
  --light-green: #00C49A;
  --red: #ca054d;
  --blue-green: #156064;
  --dark-grey: #322214;
/* https://coolors.co/a28772-156064-00C49A-f8e16c-ca054d */

  --serif: 'Spectral', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --sans: 'Karla', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

::selection {
  background: var(--brown);
  color: white;
}

::-moz-selection {
  background: var(--brown);
  color: white;
}

.white {
  color: var(--white);
}

.blue-green {
  color: var(--blue-green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--sans);
  background-color: var(--white);
  color: var(--dark-grey);
  line-height: 1.4rem;
  width: 100vw;
}

body.change {
  overflow: hidden !important;
}

/* Utility */

.pr-15 {
  padding-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 20px;
}

.page-container {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h1, h2 {
  font-family: var(--serif);
  padding: 30px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2:before, h2:after {
    content: '';
    border-top: 1px solid var(--dark-grey);
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h2:after {
    margin: 0 0 0 20px;
}

h4 {
  font-size: 28px;
  padding-bottom: 30px;
}

section {
  min-height: calc(70vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}



.mandala-half, .mandala-half-flip {
  background: url('/assets/mandala-half.png') no-repeat;
  background-size: cover;
  background-color: var(--white);
  height: 125px;
  width: 250px;
}

.mandala-half {
  position: relative;
  bottom: -25px;
}

.mandala-half-flip {
  transform: rotate(180deg);
  position: relative;
  top: -25px;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--serif);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background-color: var(--blue-green);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px var(--dark-grey);
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 0 30px;
  text-align: center;
}



/* Menu Wrap */
.mobile-overlay {
  position: fixed;
  z-index: -1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease;
}

.mobile-overlay > div {
  visibility: hidden;
}

.mobile-overlay.change {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  background-color: var(--white);
  opacity: 0.95;
  transition: opacity 0.5s ease;
}

.mobile-overlay.change > div {
  visibility: visible;
  width: 300vw;
  height: 300vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.mobile-overlay.change > div > div {
  max-width: 90vw;
  max-height: 100vh;

}

.mobile-overlay.change > div li {
  padding: 10px 0;
  list-style: none;
}

.mobile-overlay.change > div a {
  color: var(--blue-green);
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;

}

/* Navigation & Media Queries */
@media only screen and (min-width: 768px) {

  .mobile-nav {
    display: none;
    z-index: 2;
  }

  .navbar {
    width: 100%;
    padding: 30px 0 40px;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  .navbar ul a {
    text-decoration: none;
    padding: 20px 40px;
    color: var(--dark-grey);
    border-bottom: 2px solid var(--dark-grey);
    font-weight: bold;
    transition: 0.3s;
  }

  .navbar ul a:hover {
    background: var(--blue-green);
    color: var(--white);
  }
}

@media only screen and (max-width: 768px) {
    .navbar {
      display: none;
    }

    .menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
  }

  .mobile-nav {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    top: 20px;
    right: 60px;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: all 0.4s ease;
  }

  .bar1.change, .bar2.change, .bar3.change {
    background-color: var(--blue-green);
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .hero-section {
    padding: 90px 0 40px;
    max-height: 100vh;
  }

  .about-section .about-content {
  grid-template-columns: 1fr 1fr !important;
  }

  .contact-section .grid-container {
    display: flex;
    flex-direction: column;
  }

  .contact-section .form-container {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  section .mandala-half,
  section .mandala-half-flip {
  background: url('/assets/mandala-half.png') no-repeat;
  background-size: cover;
  background-color: var(--white);
  height: 90px;
  width: 185px;
  }

.about-section .about-content {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
  }

  .about-section .about-content .about-img-2 {
  grid-row: 4 !important;
}

}

@media only screen and (max-width: 300px) {
  .hero-section {
    min-height: 400px;
  }

  .yoga-circle-img {
    height: 200px !important;
    width: 200px !important;
    background-position: -55px -70px !important;
  }

  .strapline {
  font-size: 14px !important;
  }

  .classes-container, .yoga-class, .yoga-type {
    font-size: 13px !important;
  }

  .day {
    font-size: 16px !important;
  }
}

/* Hero */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.hero-btn-container {
  height: 100%; /* takes up all space available at bottom of page */
}

.yoga-circle-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  background: url('/assets/woman-yoga.jpg') no-repeat;
  background-size: cover;
  background-position: -85px -90px;
  border-radius: 50%;
  filter: brightness(0.95);
}

.strapline {
  position: relative;
  top: -15px;
  padding: 5px 0;
  font-family: var(--serif);
  font-size: 16px;
  font-style: italic;

  border-top: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
}

.hero-btn {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--serif);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  padding: 15px 32px;

  cursor: pointer;

  display: inline-block;
  position: relative;
  top: 25px;

  background-color: var(--blue-green);
  border: none;
  border-radius: 10px;

  box-shadow: 5px 5px var(--dark-grey);
}

.hero-btn:active {
  transform: translateY(3px);
  box-shadow: 3px 3px var(--dark-grey);
}

/* About section */
.about-section {
  margin-bottom: 40px;
  text-align: left;
  justify-self: flex-start;
}

.about-section h3 {
  font-size: 24px;
  padding-bottom: 10px;

}

.about-section .about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 80px;
}

.about-section .about-content .about-img-2 {
  grid-column: 1;
  grid-row: 2;
}

.about-section .about-img-1 {
  background: url('./assets/about-img-1.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.about-section .about-img-2 {
  background: url('./assets/about-img-2.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;

}


/* Classes section */
.classes-container {
  width: 100%;
  max-width: 900px;
  margin-bottom: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  border: 1px solid var(--blue-green);
  padding: 30px 10px 10px;
  border-radius: 15px;
  box-shadow: 5px 5px var(--dark-grey);
}

.classes-section h4,
.classes-section p {
  width: 100%;
  max-width: 890px;
  text-align: left;
}

.day {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: var(--blue-green);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 10px;
  padding-bottom: 15px;
  
}

.yoga-class {
  width: 100%;
}

.yoga-class .yoga-type {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

/* Contact section */

.contact-section .grid-container {
  width: 100%;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
}

.contact-section .contact-detail {
  font-weight: bold;
}

.contact-section .contact-group {
  padding: 20px 0;
  font-size: 1.2rem;
}

.contact-section a {
  margin-right: 25px;
  color: var(--dark-grey);
  transition: 0.5s linear;
}

.contact-section a:hover {
  color: var(--blue-green);
  transition: 0.3s ease;
}

.form-container h4 {
  padding-bottom: 15px;
  position: relative;  
  margin-bottom: 25px;
}

.form-container h4:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 60px;
  border-bottom: 1px solid var(--dark-grey);
}

form .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

form input {
  font-family: var(--sans);
  font-size: 0.9rem;
  display: block;
  width: 100%;
  border: 1px #333 solid;
  border-radius: 5px;
  padding: 0 10px;
  height: 50px;
}

form textarea {
  font-family: var(--sans);
  font-size: 0.9rem;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px #333 solid;
  border-radius: 5px;
  padding: 10px;
}

label {
  display: block;
  margin: 10px 0;
  margin-right: 15px;
}


form .form-group .btn {
  display: inline-block;
  height: 40px;
}


/* Footer */
footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  width: 100%;
  background-color: #333;
  color: var(--white);
}

footer a {
  color: var(--light-green);
}